<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/grid.css">
</head>
<body>
    <header>
        <div class="logo"><img src="img/Gophers.png" alt=""></div>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">why us</a></li>
                <li><a href="">projects</a></li>
                <li><a href="">about us</a></li>
                <li><a href="">wikiSteel</a></li>
            </ul>
        </nav>
        <div class="hero-btn"><a href="/contact">Contact</a></div>
    </header>
    <section id="home">
        <div class="row">
            <div class="hero-text col span-1-of-2">
                <h2>Everything builds much better with XYZ Steels</h2>
                <p>When you plan to build a house, an industrial depo, a residential flat, roof, modulars, solar panel supports, commercial properties, and more, XYZ Steel has got you covered!
                </p>
                <div class="hero-btn"><a href="/contact">Start the tour <span>➜</span></a></div>
            </div>
            <div class="col span-1-of-2">
                <img src="img/Gophers.png" width="100%" alt="">
            </div>
        </div>
    </section>
</body>
</html>