@font-face {
    font-family: 'Comfortaa'; /*a name to be used later*/
    src: url('../fonts/Comfortaa-Regular.ttf'); /*URL to font*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    width: 100%;
    overflow:hidden;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}