@font-face {
    font-family: 'Comfortaa'; /*a name to be used later*/
    src: url('../fonts/Comfortaa-Regular.ttf'); /*URL to font*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    width: 100%;
    color: #4f617d;
    overflow-x: hidden;
    background-color: #f5f6f8;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Comfortaa', consolas;
}

/* ------ REUSABLE COMPONENTS ------ */

a, 
a:visited, 
a:hover, 
a:focus, 
a:active {
    color: #4f617d;
    outline: none;
    text-decoration: none;
}

section {
    max-height: 100%;
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    margin: 40px 0;
    letter-spacing: 2px;
}

p {
    line-height: 1.7;
}

/* ------ HEADER ------ */

header {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

nav ul li {
    padding: 0px 20px;
    list-style: none;
    display: inline-flex;
    text-transform: lowercase;
}

.hero-btn a {
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 10px 30px;
    border-radius: 22px;
    background-color: #6288b4;
    box-shadow:  11px 11px 23px #d0d1d3, 
             -11px -11px 23px #ffffff;
}

/* ------ HOME SCREEN ------- */

#home {
    margin-top: 45px;
}

.hero-text {
    padding: 0px 60px;
    word-wrap: break-word;
}

.hero-text .hero-btn {
    margin: 40px auto;
}